{% include '_page_start.html' %}

{% include '_employee_header.html' %}

<h1>Create Category</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li><span>{{ message }}</span><button class="flash-close" type="button" aria-label="Close">&times;</button></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form action="/create-category" method="POST">
    <div>
        <label for="CategorieNume">Category Name:</label>
        <input type="text" name="CategorieNume" id="CategorieNume" required>
    </div>
    <button type="submit">Create Category</button>
</form>

{% include '_page_end.html' %}


