{% include '_page_start.html' %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li><span>{{ message }}</span><button class="flash-close" type="button" aria-label="Close">&times;</button></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% set header_title = "Order History" %}
{% set show_search = false %}
{% set search_action = "/shop/search" %}
{% set search_query = "" %}
{% include "_customer_shop_header.html" %}

<h1>Your Order History</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Date</th>
      <th>Discount</th>
      <th>Total Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.date }}</td>
      <td>{{ order.discount_pct }}%</td>
      <td>{{ "{:,.2f} lei".format(order.total_price) }}</td>
      <td>
        <a href="/customer-order/{{ order.id }}">Details</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>
<a href="/customer-dashboard">Back to Dashboard</a>

{% include '_page_end.html' %}


