{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Customer Dashboard</h1>
<ul>
    <li><a href="/shop">Shop</a></li>
    <li><a href="/cart">Cart ({{ cart_count }})</a></li>
    <li><a href="/customer-orders">Order History</a></li>
    <li><a href="/customer-details">Personal Details</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
