{% include '_page_start.html' %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li><span>{{ message }}</span><button class="flash-close" type="button" aria-label="Close">&times;</button></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% include '_employee_header.html' %}

<h1>Revenues &amp; Expenses</h1>

<form method="get" action="/revenues-expenses">
  <label for="start_date">Start date</label>
  <input type="date" id="start_date" name="start_date" value="{{ start_date }}" required>

  <label for="end_date">End date</label>
  <input type="date" id="end_date" name="end_date" value="{{ end_date }}" required>

  <button type="submit">Calculate</button>
</form>

{% if totals %}
  <table class="table table-striped table-hover">
    <tr>
      <th>Revenues</th>
      <td>{{ "{:,.2f} lei".format(totals.revenue) }}</td>
    </tr>
    <tr>
      <th>Expenses</th>
      <td>{{ "{:,.2f} lei".format(totals.expenses) }}</td>
    </tr>
    <tr>
      <th>Net</th>
      <td>{{ "{:,.2f} lei".format(totals.net) }}</td>
    </tr>
  </table>
{% endif %}

{% include '_page_end.html' %}


